<div class="row">
  <div class="col-xs-12">
    <br>
    <h2 class="list-group-item-heading">{{ book.title }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="list-group-item-text">By {{ book.author }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <p>Published: {{ book.publishYear }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <p>Language: {{ book.language }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <p>Original language: {{ book.originalLanguage }}</p>
  </div>
</div>   